apiVersion: v1
kind: Service
metadata:
  name: mongo
  namespace: microservices
spec:
  selector:
    app: mongo
  ports:
    - protocol: TCP
      port: 27017
      targetPort: 27017
  type: ClusterIP
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: mongo
  namespace: microservices
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mongo
  template:
    metadata:
      labels:
        app: mongo
    spec:
      containers:
        - name: mongo
          image: mongo:6
          ports:
            - containerPort: 27017
          resources:
            requests:
              memory: "512Mi"
              cpu: "50m"
            limits:
              memory: "1024Mi"
              cpu: "200m"
#          readinessProbe:
#            exec:
#              command: ["mongo", "--eval", "db.adminCommand('ping')"]
#            initialDelaySeconds: 120
#            periodSeconds: 5
#          livenessProbe:
#            exec:
#              command: ["mongo", "--eval", "db.adminCommand('ping')"]
#            initialDelaySeconds: 150
#            periodSeconds: 10
      volumes:
        - name: mongo-storage
          persistentVolumeClaim:
            claimName: mongo-pvc