apiVersion: apps/v1
kind: Deployment
metadata:
  name: authentication
  namespace: microservices
  labels:
    app: authentication
spec:
  replicas: 2
  selector:
    matchLabels:
      app: authentication
  template:
    metadata:
      labels:
        app: authentication
    spec:
      containers:
        - name: authentication
          image: authentication-service:latest
          imagePullPolicy: IfNotPresent
          envFrom:
            - configMapRef:
                name: auth-config
          env:
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: SPRING_DATASOURCE_PASSWORD
            - name: SECURITY_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: secret
                  key: SECURITY_JWT_SECRET
          ports:
            - containerPort: 8081
          readinessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 120
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /actuator/health
              port: 8081
            initialDelaySeconds: 150
            periodSeconds: 10
          resources:
            requests:
              memory: "512Mi"
              cpu: "50m"
            limits:
              memory: "1024Mi"
              cpu: "200m"
