apiVersion: v1
kind: Service
metadata:
  name: authentication
  namespace: microservices
spec:
  selector:
    app: authentication
  ports:
    - protocol: TCP
      port: 8081
      targetPort: 8081
  type: ClusterIP
